@using Helpdesk.Domain.Entities.Users
@model Helpdesk.WebUI.Models.Requests.RequestChooseCustomerViewModel

@{
    ViewBag.Title = "Nowe zgłoszenie :: Wybierz klienta";
}

<h2>Nowe zgłoszenie</h2>

<h4>Wybierz klienta</h4>
@*<p>
    @Html.ActionLink("Zgłoszenie bez klienta", "CreateTemp", "Computers", new { customerID = ViewBag.customerID }, new { @class = "btn btn-primary" })
</p>*@
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>
    @foreach (Customer customer in Model.Customers)
            {
        <tr>
            <td>
                @customer.ID
            </td>
            <td>
                @customer.Name
            </td>
            <td>
                @Html.ActionLink("Wybierz", "ChooseComputer", new { customerID = customer.ID })
            </td>
        </tr>
    }
</table>


<div>
    @*@Html.ActionLink("Create new Customer", "Create", "Customers")<br />*@
    @*@Html.ActionLink("Back to Requests List", "Index")*@
</div>
