@using Helpdesk.Domain.Entities
@model IEnumerable<Computer>

@{
    ViewBag.Title = "Komputery";
}

@foreach (var c in Model)
{
    <div>
        <h3>@c.Name</h3>
        <p>@c.SerialNo</p>
    </div>
}

